    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Brand Name -->
            <a class="navbar-brand fw-bold" href="{{ path('main') }}">Village Green</a>
            
            <!-- Navbar Toggler for Mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('main') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('products_index') }}">Products</a>
                    </li>
                </ul>
                
                <!-- User Links -->
                <ul class="navbar-nav ms-auto">
                    {% if app.user %}

                        {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_ADMIN') or is_granted('ROLE_CLIENT_PARTICULIER') or is_granted('ROLE_CLIENT_PROFESSIONEL') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_index') }}">Administration</a>
                           </li>
                       {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('main') }}">Mon Compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>