{# templates/profile/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">{{ controller_name }}</h1>

    <div class="card shadow-sm p-4">
        {{ form_start(form) }}

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_label(form.nom, null, {'attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.prenom, null, {'attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_label(form.email, null, {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.adresse, null, {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.codepostal, null, {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.codepostal, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.ville, null, {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
        </div>

        {% if form.numeroSiret is defined %}
            <div class="mb-3">
                {{ form_label(form.numeroSiret, null, {'attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.numeroSiret, {'attr': {'class': 'form-control'}}) }}
            </div>
        {% endif %}

        <div class="mb-3">
            {{ form_label(form.password, null, {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>

        {# Save Button #}
        <div class="d-flex justify-content-center mt-4">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg w-50'}}) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
